.admin {
  display: flex;
  justify-content: center;
  align-content: centers;
}
.admin form p {
  color: rgb(150, 144, 144);
  font-size: 18px;
  font-weight: 700;
  margin-left: 10px;
  margin-top: 10px;
}
.admin form {
  padding: 50px;
  border: 1px solid gray;
  width: 400px;
  height: 400px;
}
.admin form input {
  width: 300px;
}
.admin form button {
  width: 300px;
}
