.login {
  margin: 0;
  padding: 0;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
}
form {
  font-family: "Fira Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 400px;
  border-radius: 10px;
  background-color: #f7f7f7;
  border: 0.5px solid darkgray;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.25);
  margin: auto;
  margin-top: 100px;
  padding-top: 30px;
}
.login > form > h3 {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 30px;
}
.login > form > input {
  width: 70% !important;
  margin-bottom: 8px;
  border-radius: 5px;
}
.login > form > button {
  width: 40% !important;
  height: 45px !important;
  margin-top: 15px;
}
.login > form > a {
  margin-top: 30px;
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1367px) and (orientation: landscape) {
  .login {
    width: 40%;
  }

  .login > form > button {
    width: 200px !important;
  }
}
